html   {
        overflow: auto;
}

html,
body,
object {
        margin: 0px;
        padding: 0px;
        height: 100%;
        border: none;
}

object {
        display: block;
        width: 100%;
        border: none;
        overflow-y: auto;
        overflow-x: hidden;
}
